<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% assign structure = page.url | split: "/" | shift %}

	{% if structure == empty %}
		<title>{{ site.title }} – {{ site.description | strip_html }}</title>
	{% elsif structure[0] == "page" %}
		<title>{{ site.title }} – Page {{ structure[1] }} – {{ site.description | strip_html }}</title>
	{% else %}
		<title>{{ page.title }} – {{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:,i,b,bi,900,900i%7CMontserrat:,b%7CInconsolata:,b&amp;display=swap">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/clearings.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/genericons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/highlight.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/social.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/44.375.css" media="screen and (min-width: 44.375em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/56.875.css" media="screen and (min-width: 56.875em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/61.5625.css" media="screen and (min-width: 61.5625em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/screen/85.125.css" media="only screen and (min-width: 85.125em)">
	<link rel="stylesheet" href="{{ site.baseurl }}/style/print.css" media="only print">
</head>
<body>
	<header>
		<div class="brand">
			<h1><a href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a></h1>
			<p>{{ site.description }}</p>
		</div>
		<input hidden type="checkbox" id="ballot">
		<label class="toggle" for="ballot">Menu</label>
		{% include navigation.liquid %}
	</header>
	<main>{{ content }}</main>
	<aside>
		<section>
			<h2>Categories</h2>
			<ul>
				{% assign categories = site.categories | sort %}
				{% for category in categories %}
					<li><a href="{{ site.baseurl }}/category/{{ category[0] | slugify | uri_escape }}">{{ category[0] }}</a></li>
				{% endfor %}
			</ul>
		</section>
		<section class="tagcloud">
			<h2>Tags</h2>
			{% assign tags = site.tags | sort %}
			{% for tag in tags %}
				<a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify | uri_escape }}">{{ tag[0] }}</a>
			{% endfor %}
		</section>
		<section>
			<h2>Recent posts</h2>
			<ul>
				{% for post in site.posts limit: 5 %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</section>
	</aside>
	<footer>
		{% include navigation.liquid %}
		<p>This blog is styled with <a rel="publisher" href="https://github.com/jdh8/sweet-16/">Sweet 16</a>.</p>
	</footer>
</body>
</html>
