<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if page.id == "/" %}
		<title>{{ site.title }} &ndash; {{ site.description }}</title>
	{% else %}
		<title>{{ page.title }} &ndash; {{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:,i,b,bi,900,900i%7CMontserrat:,i,b,bi,900,900i">
	<link rel="stylesheet" href="/style/main.css">

	<style>
		nav a[href="{{ page.url }}"] {
			font-weight: 700;
		}
	</style>
</head>
<body>
	{% capture menu %}{% include menu.md %}{% endcapture %}
	<header>
		<div>
			<h1><a href="/" rel="home">{{ site.title }}</a></h1>
			<p>{{ site.description }}</p>
		</div>
		<input hidden type="checkbox" id="menu-check">
		<label for="menu-check">Menu</label>
		<nav>{{ menu | markdownify }}</nav>
	</header>
	<main>{{ content }}</main>
	<aside>
		<section>
			<h2>Categories</h2>
			<ul>
				{% assign categories = site.categories | sort %}
				{% for category in categories %}
					<li>{{ category[0] }}</li>
				{% endfor %}
			</ul>
		</section>
		<section class="tagcloud">
			<h2>Tags</h2>
			{% assign tags = site.tags | sort %}
			{% for tag in tags %}
				<a>{{ tag[0] }}</a>
			{% endfor %}
		</section>
		<section>
			<h2>Recent posts</h2>
			<ul>
				{% for post in site.posts limit: 5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</section>
	</aside>
	<footer>
		<nav>{{ menu | markdownify }}</nav>
		<p>This blog is styled with Sweet 16.</p>
	</footer>
</body>
</html>
