---
layout: default
---
<article>
	<h1>{{ page.title }}</h1>
	<div class="post content">
		{{ content }}
		<address></address>
	</div>
	<footer>
		<div><time>{{ page.date | date: "%F" }}</time></div>
		<div>{{ page.categories | join: ", " }}</div>
		<div>{{ page.tags | join: ", " }}</div>
	</footer>
</article>
