---
layout: default
---
<article class="post {{ page.type }}">
	<header><h1>{{ page.title }}</h1></header>
	<div class="content">
		{{ content }}
		<address></address>
	</div>
	<footer>
		<div><time>{{ page.date | date: "%F" }}</time></div>
		<div>
			{% for category in page.categories %}
				<a rel="category tag" href="{{ site.baseurl }}/category/{{ category | slugify }}">
					{{ category }}</a>{% unless forloop.last %},{% endunless %}
			{% endfor %}
		</div>
		<div>
			{% for tag in page.tags %}
				<a rel="tag" href="{{ site.baseurl }}/tag/{{ tag | slugify }}">
					{{ tag }}</a>{% unless forloop.last %},{% endunless %}
			{% endfor %}
		</div>
	</footer>
</article>
