---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<article class="post {{ page.class }}">
	<header><h1>{{ page.title }}</h1></header>
	<div class="content">
		{{ content }}
		<footer>
			{% if author.hash %}
				<img class="gravatar" alt="" width="42" height="42"
					src="https://www.gravatar.com/avatar/{{ author.hash }}?s=42&amp;d=identicon"
					srcset="https://www.gravatar.com/avatar/{{ author.hash }}?s=84&amp;d=identicon 2x">
			{% endif %}
			{% if author.name %}
				<section>
					<h2>Author: {{ author.name }}</h2>
					{{ author.bio | markdownify }}
				</section>
			{% endif %}
		</footer>
	</div>
	<footer>
		{% if author.hash %}
			<img class="gravatar" alt="" width="49" height="49"
				src="https://www.gravatar.com/avatar/{{ author.hash }}?s=49&amp;d=identicon"
				srcset="https://www.gravatar.com/avatar/{{ author.hash }}?s=98&amp;d=identicon 2x">
		{% endif %}
		<div>{{ author.name }}</div>
		<div><time>{{ page.date | date: "%F" }}</time></div>
		<div>
			{% for category in page.categories %}
				<a rel="category tag" href="{{ site.baseurl }}/category/{{ category | slugify }}">
					{{ category }}</a>{% unless forloop.last %},{% endunless %}
			{% endfor %}
			{% if page.categories == empty %} Uncategorized {% endif %}
		</div>
		<div>
			{% for tag in page.tags %}
				<a rel="tag" href="{{ site.baseurl }}/tag/{{ tag | slugify }}">
					{{ tag }}</a>{% unless forloop.last %},{% endunless %}
			{% endfor %}
		</div>
	</footer>
</article>
<nav>
	{% if page.previous %}
		<a class="linear" rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">
			<header>Previous</header>
			{{ page.previous.title }}
		</a>
	{% endif %}
	{% if page.next %}
		<a class="linear" rel="prev" href="{{ site.baseurl }}{{ page.next.url }}">
			<header>Next</header>
			{{ page.next.title }}
		</a>
	{% endif %}
</nav>
